/* *************CONTAINER************* */
.container{
     clip-path: circle(0% at 50% 100%);
     z-index: 100;
     transition: all 0.9s ease;
}

.container.Cactive{
     clip-path: circle(150% at 50% 100%);
}
/* *************SONGSLIST************* */
.song-list-section{
     clip-path: circle(0% at 0% 0%);
     z-index: 10;
     transition: all 0.9s ease;
}

.song-list-section.active{
     clip-path: circle(150% at 0% 0%);
}
/* *************SETTINGS************* */
.settings{
     clip-path: circle(0% at 100% 0%);
     z-index: 100;
     transition: all 0.9s ease;
}

.settings.Sactive{
     clip-path: circle(150% at 100% 0%);
}
