#controls{
     width: 100%;
     height: 80px;

     display: flex;
     align-items: center;
     justify-content: space-around;

     position: absolute;
     bottom: 30px;
}
#controls > div{
     cursor: pointer;
}
.btn{
     background: green;
     border: 3px solid #fff;
     text-shadow: 3px -3px 3px #300;
}
#play, #prev, #next{
     border-radius: 50%;
     /* background: #000; */
     color: #fff;


     display: flex;
     align-items: center;
     justify-content: center;
}
#play{
     width: 60px;
     height: 60px;

     font-size: 200%;
}
#prev, #next{
     width: 40px;
     height: 40px;

     font-size: 170%;
}
#download,  #like{
     width: 40px;
     height: 40px;
     border-radius: 50%;

     font-size: 140%;
     color: #fff;
     text-shadow: 1px 1px 0px #300,
                         -1px 1px 0px #300,
                         1px -1px 0px #300,
                         -1px -1px 0px #300;
     display: flex;
     align-items: center;
     justify-content: center;

}
