.controls-board-holder{
     width: 100vw;
     height: 110px;

     position: fixed;
     bottom: 0;
     z-index: 100;

     display: flex;
     justify-content: center;
}
#controls{
     width: 100%;
     height: 80px;

     display: flex;
     align-items: center;
     justify-content: space-around;

     margin-bottom: 30px;
     font-family: Dosis
}
@media screen and (min-width: 900px) {
     #controls{
          width: var(--pcCenteringWidth);
     }
}
#controls > div{
     cursor: pointer;
     user-select: none;
}
.btn{
     background: var(--buttonBG);
     border: 3px solid #fff;
     text-shadow: 3px -3px 3px #300;
}
#play, #prev, #next{
     border-radius: 50%;
     /* background: #000; */
     color: #fff;


     display: flex;
     align-items: center;
     justify-content: center;
}
#play{
     width: 60px;
     height: 60px;

     font-size: 200%;
}
#prev, #next{
     width: 40px;
     height: 40px;

     font-size: 170%;
}
.left-controls > div, .right-controls > div{
     width: 50px;
     height: 50px;
     border-radius: 50%;

     user-select: none;

     font-size: 160%;
     color: #fff;
     text-shadow: 1px 1px 0px #300,
                         -1px 1px 0px #300,
                         1px -1px 0px #300,
                         -1px -1px 0px #300;
     display: flex;
     align-items: center;
     justify-content: center;

}
