.page-change-icons-holder{
     height: 100px;
     width: 100vw;


     position: absolute;
     top: 0;
     z-index: 3;

     display: flex;
     justify-content: center;
}
.page-change-icons-papa{
     width: calc(100vw - 50px);

     position: absolute;
     top: 20px;
     z-index: 100;

     display: flex;
     justify-content:space-between;
}
@media screen and (min-width: 900px) {
     .page-change-icons-papa{
          width: var(--pcCenteringWidth);
     }
}
.fa-angle-down{
     font-size: 350%;
     font-weight: bolder;
     cursor: pointer;
}
.close-icon, .page-change-cogs{
     font-size: 250%;
     cursor: pointer;
}
.fa-close{
     position: absolute;
     top: 13px;
     right: 20px;
     z-index: 100;
}
