.left-icon{
     font-size: 350%;
     font-weight: bolder;
     cursor: pointer;

     position: absolute;
     top: 20px;
     left: 50px;
     z-index: 100;

}

.right-icon{
     font-size: 250%;
     cursor: pointer;

     position: absolute;
     top: 25px;
     right: 50px;
     z-index: 100;
}

.fa-close{
     position: fixed;
     top: 15px;
     right: 20px;
     z-index: 100;
}
