.list-holder{
     position: fixed;
     top: 70px;
     left: 0;
     right: 0;
     bottom: 0;


     overflow: auto;
}
.song-el{
     width: 80vw;
     height: 70px;
     margin: 25px auto;

     border-top-left-radius: 20px;
     border-bottom-right-radius: 20px;

     background: var(--song-el);
     box-shadow: -6px 6px 6px var(--song-el-shadow);

     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0px 25px;

     cursor: pointer;
}
.odd-even{
     border-top-right-radius: 20px;
     border-top-left-radius: 0px;

     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 0px;
}
.name-plate{
     display: flex;
     align-items: center;
}
.song-icon{
     width: 50px;
     height: 50px;
     display: inline-block;
     border-radius: 50%;

     border: 3px solid #300;

     background-size: cover;
}
.song-list-section p{
     margin-left: 20px;
     font-size: 200%;
     font-weight: bolder;

     color: var(--song-name);

}
.song-list-and-settings-h{
     margin: 0;
     font-weight: bolder;
     font-size: 150%;


     word-spacing: 5px;

     display: flex;
     align-items: center;
     justify-content: center;
}
.song-list-section span{
     padding-left: 10px;
}
@media screen and (max-width: 400px) {
     .song-list-section p{
          margin-left: 20px;
          font-size: 150%;
          font-weight: bolder;

          color: var(--song-name);

     }

}
