/* ------------------------------------------------------------------- */

:root{
     --containerBG: aqua;
     --songsBG: -webkit-linear-gradient(left, #f00699 50%, #fff 50%);
     --wrapperBG:  url('images-in-styles/bg.png') center/cover;
     --mainBG: darkgreen;

     /* ----------------------------
     .          SONGS LIST
     ----------------------------- */
     --song-el: #aaa;
     --song-name: #500;
     --song-el-shadow: rgba(0, 0, 0, 0.4);
}
