/* ------------------------------------------------------------------- */

:root{
     /* ------RESPONSIVE CENTERING----- */
     --pcCenteringWidth: 900px;

     /* ----------------------------
     .          CONTAINER
     ----------------------------- */
     --containerBG: teal;
     --song-list-sectionBG: deeppink;
     --wrapperBG:  url('images-in-styles/bg.png') center/cover;
     --settingsBG: deeppink;
     --buttonBG: #f00;

     /* ----------------------------
     .          SONGS LIST
     ----------------------------- */
     --copyrightHolderBG: darkcyan;

     --song-el: #ddd;
     --song-name: #500;
     --song-el-shadow: rgba(0, 0, 0, 0.4);

     /* ----------------------------
     .          SETTINGS
     ----------------------------- */
     --settings-el: purple;
}
