/* ------------------------------------------------------------------- */

:root{
     /* ------RESPONSIVE CENTERING----- */
     --pcCenteringWidth: 850px;
     /* ----------------------------
     .          CONTAINER
     ----------------------------- */
     --containerBG: deeppink;
     --song-list-sectionBG: darkcyan;
     --wrapperBG:  url('images-in-styles/bg.png') center/cover;
     --settingsBG: darkcyan;

     /* ----------------------------
     .          SONGS LIST
     ----------------------------- */
     --song-el: #ddd;
     --song-name: #500;
     --song-el-shadow: rgba(0, 0, 0, 0.4);

     /* ----------------------------
     .          SETTINGS
     ----------------------------- */
     --settings-el: purple;
}
